.header {
    display: flex;
    height: 70px;
    background-color: white;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
    

}

html, body{     
    font-family: 'Roboto', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-menu li{
    display: inline;
    margin-left: 18px;
    margin-right: 18px;
}

.nav-menu li a{
    text-decoration: none;
    color: #333333
}

.bth-sign_in{
    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px; */
    padding: 8px 16px;
    color: green;
    background-color: white;
    border: 1px solid green;

}

.sigup-top {
    text-align: center;
    margin-top: 110px;
    padding-bottom: 40 px;
}
.sigup-top h1 {
    margin-bottom: 8px;
}


.sigup-form {
    width: 442px;
    height: 460px;
    background-color: red;
    margin: 0 auto;
    box-shadow: 0px 2px 16px black;
    border-radius: 15px;
}

.sigup-form .form-controls {
    padding: 40px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 24px 0px;
}

.form-control label {
    margin-bottom: 11px;
}

.form-control input {
    padding: 6px;
    border: 2px black
}

.sigup {
    width: 100%;
    background-color: teal;
    border: 1px solid green;
    border-radius: 88px;
    padding: 16px 0;
    color: #fff;
}

.foot{
    background-color: #4f4f4f;
    padding: 24px 90px 16px 90px;
    margin: 10px;
    width: auto;
    margin-top: 50px;
}
.foot .part1{
    display:flex;
    justify-content: space-between;
}

.foot .part2 h5{
    font-size: 14px;
    line-height: 16.8px;
    color: #f2f2f2;
    padding-bottom: 8px;
}
.foot .part2 ul li{
    font-size: 14px;
    line-height: 16.8px;
    list-style: none;
    padding: 4px 0px;   
}
.foot .part2 ul li a{
text-decoration: none;
color: #bdbdbd
}
.foot .logofoot{
display: flex;
flex-direction: column ;
align-items: center;
color: #828282
}

.foot .part1 .logofoot{
    margin-left: 178px;
    margin-right:0px
}
.foot .part1 .logofoot{
    margin-right:150px;
}
.foot .part1 .social li{
    display:inline;
    padding:20px;
}
.foot .end{
    color:#bdbdbd;
    margin-top:103px
}